<div class="container mx-auto">
    <h1 class="m-4 text-3xl font-bold">Devices</h1>

    <% @devices.each{ |device| %>
        <div class="px-4 py-2">
            <p class="text-l font-bold">
                <% if ! device.name.nil? %>
                    <%= link_to("#{device.name} (#{device.ident})", device) %>
                <% else %>
                    <%= link_to(device.ident, device) %>
                <% end %>
            </p>
            <div class="w-40 inline-block">Temp: <%= device.last_temp_value %>℃</div>
            <div class="w-40 inline-block">Hum: <%= device.last_hum_value %>%</div>
        </div>
    <% } %>
</div>