<div class="container mx-auto">
    <h1 class="m-4 text-3xl font-bold"><%= @device.name || @device.ident %></h1>
    <div class="flex flex-row flex-wrap">
        <%= render partial: "value_box", locals: { 
            key: "Temperature", 
            value: "#{@temp.value}℃", 
            timestamp: @temp.created_at, 
            color_conditions: @color_conditions_temp
        } %>
        <%= render partial: "value_box", locals: { 
            key: "Humidity", 
            value: "#{@hum.value}%", 
            timestamp: @hum.created_at, 
            color_conditions: @color_conditions_hum
        } %>
    </div>
    <div class="m-4">
        <%= link_to "Back to devices", devices_path %>
    </div>
</div>