<div class="flex-none h-48 w-48 p-4 border-4 m-4 box-border border-gray-800 rounded-xl bg-gray-800 text-gray-100">
    <div class="text-center mb-4 text-xl font-bold"><%= key %></div> 
    <div class="text-center mt-8  text-4xl"><%= value %></div>
    <div class="text-center mt-8 text-xs"><%= timestamp.strftime("%e.%m.%y %R") %></div>
</div>